<ion-view view-title="Engage" ng-controller="AccountController">
	 <ion-content class="padding">
	 <br><br><br><br>
	 <h2 style="font-family:OCRAStd; color:black;">Leash</h2>
	 <br>
	
	  <div class="item range range-assertive">
	    <i class="icon ion-ios-unlocked-outline"></i>
	    <input type="range" name="volume" min="0" max="100" value="33">
	    <i class="icon ion-ios-locked"></i>
	  </div>

	  <br><br>

	  <button class="button button-block button-assertive button-outline" ng-click="cancelVibrate()">
  		Disarm LighterJack
		</button>
	

</ion-content>
</ion-view>
